venv/
.vscode/
imgs/
__pycache__/
config.json
*.json
*.session
*.session-journal
!scrapers.json
*.txt
!requirements.txt
*.pyc
*.log
*.xlsx
*.pyc
*.csv
*.png
*.h5
*.jpg
.scrapy/
output/
drhelpers.py
.pytest_cache/
.env
!mappings.json

instance/

*.egg-info